body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}

h1 {
    font-family: 'Rubik Doodle Shadow', sans-serif;
    font-size: 26px;
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
}

header {
    font-family: 'Rubik Maps', sans-serif;
    font-size: x-large;
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 40px;
}

button {
    background-color: lightgray;
}

#container>button {
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    margin: 4px;
    border-radius: 6px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#spaceman {
    width: 162px;
    height: 220px;
    margin: 50px;
    background-image: url("../imgs/spaceman.png");
    background-position-x: 0;
    background-size: cover;
    transform: rotate(-.04Turn);
    animation-name: spacefloat;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes spacefloat {
    0% {
        transform: translate(0, 0px) rotate(0);
    }

    25% {
        transform: translate(0, 15px) rotate(3Deg);
    }

    50% {
        transform: translate(0, 5px) rotate(0);
    }

    75% {
        transform: translate(0, 15px) rotate(-2Deg);
    }

    100% {
        transform: translate(0, 0) rotate(0Deg);
    }
}


footer {
    font-size: 8vmin;
    letter-spacing: 1.5vmin;
    font-weight: bolder;
}

#msg {
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: 700;
}

#playbtn {
    background-color: aqua;
    margin-top: 40px;
    font-size: 20px;
    padding: 4px 8px;
    border-radius: 16px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}

/* aside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

/* aside > button {
    margin: .25;
    height: 2rem;
    width: 2rem;
} */

/* footer {
    grid-column-start: auto;
    grid-row-start: 
    grid-row-start: ;
    justify-self: ;
    align-self: center;
    letter-spacing: ;
    font-size: 3rem;
}

section {
    grid-column: ;
} */
*/